#imgestabc{
    height: 250px;
    position: absolute; top: 20%;
}

p{
    font-family: 'inter', sans-serif;
}

.user{
    font-family: 'inter', sans-serif;
}

#NomeLocal{
    position: absolute; top: 27%; left: 18%;
}
